<h1>Welcome to BID AUCTION Web</h1>

<div>
  <p> Sign In! </p>

    <%= form_for @user do |new_user| %>

      <%= new_user.label :username %><br>
      <%= new_user.text_field :username %>
      <br>
      <%= new_user.label :mail %> <br>
      <%= new_user.text_field :mail %>
      <br>
      <%= new_user.label :password %> <br>
      <%= new_user.text_field :password %>
      <br>

      <%= new_user.button "Log In!"%>
    <% end %>
</div>
